<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ livro.titulo }}</title>
</head>
<body>
  <h1>{{ livro.titulo }}</h1>
  <p><strong>Autor:</strong> {{ livro.autor }}</p>
  <p><strong>Data de Publicação:</strong> {{ livro.data_publicacao }}</p>
  <p><strong>ISBN:</strong> {{ livro.isbn }}</p>

  <a href="{% url "livros:editar_livro" livro.pk %}">Editar</a>
  <a href="{% url "livros:lista_livros" %}">Voltar</a>
</body>
</html>
